aiofiles==24.1.0           # Fayl bilan async ishlash, foydali
aiogram==3.20.0.post0      # Asosiy kutubxona
aiohttp==3.11.18           # Aiogram ichida ishlatiladi
aiosignal==1.3.2           # aiohttp ichki bog‘liqligi
async-timeout==5.0.1       # aiohttp ichki bog‘liqligi
attrs==25.3.0              # aiohttp va boshqa kutubxonalarga kerak
frozenlist==1.6.0          # aiohttp uchun kerak
idna==3.10                 # HTTP/S URL ishlovchi kutubxonalarga kerak
magic-filter==1.0.12       # Aiogram uchun kerak
multidict==6.4.3           # aiohttp uchun kerak
pydantic==2.11.4           # Aiogramda ishlatiladi
pydantic_core==2.33.2      # Pydantic ishlashi uchun kerak
python-dotenv==1.1.0       # .env fayl o‘qish uchun (odatda foydali)
typing_extensions==4.13.2  # Aiogram va Pydanticda ishlatiladi
yarl==1.20.0               # aiohttp uchun kerak
